*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #141218;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  gap: 1rem;
  padding-bottom: 100px;
}

.earlyuser {
  width: 100%;
  max-width: 300px;
}

.connected-claim-nft {
  margin-top: 1rem;
  background-color: #A0E500;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 220px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.connected-claim-nft:hover {
  background-color: #8CC300;
  color: black;
}

.connected-gift {
  color: #A0E500;
}

.connected-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  min-height: 180px;

  @media (min-width: 440px) {
    min-height: 250px;
  }
}

.connected-title-h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.connected-title-h2 {
  color: white;
  font-size: 4.5rem;
  font-weight: bold;  
}

.connected-nft {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem; 
  background-color:#211F25;
  margin-bottom: 2rem;
}

.connected-nft-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.connected-nft-title-arrow {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

.connected-nft-title-h3 {
  color: white;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.connected-nft-info {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.3rem;
  color: white;
  width: 100%;
}

.connected-nft-info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.connected-nft-image {
  width: 70px;
}

.connected-footer {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 380px;
}

.connected-home {
  position: fixed;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.connected-profile-wallet {
  width: 260px;
  position: fixed;
  bottom: 40px;
  justify-content: space-between;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
}

.connected-home-link {
  width: 40px;
  height: 40px;
}

.connected-profile {
  width: 40px;
  height: 40px;
}

.connected-wallet {
  width: 40px;
  height: 40px;
}

.slider {
  margin-top: 60px;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  width: 100%;
  min-height: 200px;
}

.slick-next {
  right: 5px !important;
}

.slick-prev {
  left: 5px !important;
  z-index: 10;
}

.scan-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  padding: 15px;
  border-top: #A0E500 1px solid;
  border-radius: 5px;
  background-color: #041C00;
  color: white;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
}

.page__header {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#141218;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 52px;
  z-index: 100;
  padding-left: 30px;
}

.connected-nft-title-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.connected-nft-info-text {
  color: #fff;
  width: 100px;
}

.connected-nft-games {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.connected-nft-games {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.slick-prev:before, .slick-next:before {
  color: #000;
  display: none;
}

.connected-nft-game {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 180px;
  cursor: pointer;
  color: white;
}

.connected-nft-game-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}